html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgb(2,2,47);
}

#champion {
    color: burlywood;
    font-size: 9vw;
    font-weight: bolder;
    padding-top: 30vw;
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
}

a {
    color: white;
}
